@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

/* Navbar */

.navbar {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 180px;
    padding-left: 100px;
    padding-right: 100px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width:0px;
    flex-shrink: 2;
    flex: 2;
}

.logo img {
    max-width: 500px;
    min-width: 0;
    flex-shrink: 1;
}

.links_container {
    display: flex;
    min-width: 0px;
}

.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 0px;
    flex: 1;
    gap: 1rem;
}

.navbar li {
    display: flex;
    flex-shrink: 1;
    min-width: 0px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 800;
}

/* Main */

.main {
    background: #c1c1c1;
    color: #000;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 400px;
    padding-left: 100px;
    padding-right: 100px;
    gap: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container header {
    font-size: 30px;
    padding-bottom: 10px;
    text-align: center;
}

.container article {
    max-width: 400px;
    text-align: justify;
    padding-right: 10px;
    margin-bottom: 15px;
}

.container button {
    width: 85%;
    background: #eb8600;
    border: #eb8600;
    color: #000;
    height: 30px;
    transition: all 0.5s;
    border-radius: 10px;
}

.container button:hover {
    background: #ebb66f;
}

.search {
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search h2 {
    font-size: 30px;
}

.search div input {
    width: 100%;
    height: 30px;
    border-radius: 15px;
    border: #fff;
    text-align: center;
    margin-top: 10px;
}

.search div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.search figure {
    max-width: 200px;
}

.search img{
    max-width: 100px;
}

.pinguin {
    display: flex;
    min-width: 0;
}

.pinguin img{
    width: 300px;
}

/* Description */

.description {
    display: flex;
    background: #313131;
    color: #fff;
    justify-content: center;
    min-height: 300px;
    padding: 30px;
}

.sub_container {
    display: flex;
    gap: 3rem;
}

.description .container h2 {
    font-size: 28px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 20px;
}

.description .card_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.description .container h3 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.description .container p {
    font-size: 16px;
    text-align: justify;
}

.description figure img {
    width: 200px;
}

.first_moon{
    max-width: 120px;
    height: 140px;
}

/* Message */

.message {
    background: #c1c1c1;
    display: flex;
    flex-direction: column;
    padding: 70px 150px;
}

.message p:nth-of-type(1) {
    font-size: 25px;
    text-align: justify;
}

.message .quote {
    align-self: flex-end;
    font-size: 17px;
    font-weight: 900;
}

/* Footer */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    color: #fff;
    padding: 30px;
}

footer .main_container {
    display: flex;
    background: #c36e00;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    width: 800px;
    height: 100px;
    padding: 20px;
}

.main_container h2 {
    margin-bottom: 10px;
    align-self: flex-start;
    font-weight: bold;
}

.main_container button {
    width: 100px;
    height: 30px;
    background: #c36e00;
    border: #000 1px solid;
    border-radius: 4px;
    transition: all 0.5s;
    font-weight: 600;
}

.main_container button:hover {
    background: #ebb66f;
}

@media(max-width:768px) {

    /* Navbar */

    .navbar {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 20px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .navbar .logo {
        display: flex;
        min-width: 0px;
        flex-shrink: 1;
    }

    .logo img {
        width: 100%;
    }

    .navbar a {
        font-size: 15px;
    }

    /* Main */

    .main {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .main header {
        max-width: 300px;
        margin-bottom: 10px;
    }

    .main header h1 {
        font-size: 25px;
    }

    .main button {
        width: 100%;
    }

    .main .container {
        display: flex;
        flex-direction: column;
        max-width: 400px;
    }

    .main article {
        max-width: 100%;
    }

    .pinguin {
        display: flex;
        min-width: 0px;
        max-width: 200px;
    }

    .pinguin img {
        max-width: 100%;
    }

    .search {
        display: flex;
        min-width: 0;
    }

    .search div input {
        min-width: 0px;
    }

    /* Description */

    .description {
        display: flex;
        flex-direction: column;
    }

    .sub_container {
        display: flex;
        flex-direction: column;
    }

    div .card {
        max-width: 300px;
    }

    /* Message */

    .message {
        padding: 30px;
        display: flex;
        gap: 1rem;
    }

    .message p:nth-of-type(1) {
        font-size: 22px;
    }
    
    .message .quote {
        font-size: 17px;
        font-weight: 900;
    }
}

/* Footer */

@media (max-width: 480px) {

    footer {
        padding: 20px;
    }

    footer .main_container {
        display: flex;
        gap: 0.7rem;
    }

    footer .container h2 {
        font-size: 20px;
    }

    footer .container p {
        font-size: 13px;
        text-align: justify;
    }
}

@media(max-width: 380px) {

    /* Navbar */

    .navbar {
        padding: 30px;
    }

    /* Footer */

    footer {
        padding: 10px 5px;
        height: 130px;
    }

    footer .main_container {
        height: 100px;
        padding: 5px 8px;
    }
}

@media(max-width: 320px) {

    /* Navbar */

    .navbar {
        padding: 30px;
    }

    /* Footer */

    footer {
        height: 180px;
    }

    footer .main_container {
        display: flex;
        flex-direction: column;
        padding: 20px 15px;
        margin: 0 10px;
        height: 120px;
    }
}

/* Additional */

@media(max-width: 550px) {
    .links_container a {
        font-size: 15px;
    }
}


